@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
    }
  
@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
    }
  
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    background-color: #f1f1f1;
    font-family: "Anonymous Pro";
  }

  .main-div-button {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    min-width: 100%;
    margin-top: 30px;
    padding: 12px 12px;
    font: 18px Arial, Helvetica, sans-serif;
    color: #ffffff;

    border: solid black ;
    border-radius: 5px;
  }

  .footer {
    justify-content: space-around;
    display: flex;
    margin-top: 20px;
    height: max-content;
    background: #121723;
  }
  
  .footer-a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .header {
    display: flex;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 2px;
    background: #ffffff;
    border-bottom: 1px solid #a1a6b4;
  }
  
  .header-a {
    text-decoration: none;
    color: #000000;
  }
  
  .header-div {
    position: relative;
    left: 172px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    margin-right: 250px;
  }
  
  .hr { width: 1150px; }
  
  .h2 {
    margin: 10px 0 0 0;
    font: 500 48px "Anonymous Pro";
    color: #121723;
  }
  
  .h3 {
    margin: 25px 25px 0 25px;
    font: bold 26px "Anonymous Pro";
    color: #121723;
  }
  
  .h4 {
    text-align: center;
    margin-top: 20px;
    font: 16px "Anonymous Pro";
    color: #a1a6b4;
  }
  
  main { margin: auto; }

  .main-div-width { max-width: 1180px; }

  .main-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 40px;
    background-color: aliceblue;
  }

  .main-img {
    height: 700px;
    width: 700px;
    margin-left: 95px;
    border: solid #ffffff;
    border-radius: 10px;
  }
  
  .main-div-description {
    width: 30%;
    background-color: rgb(224, 224, 250);
    padding: 20px 20px;
    height: max-content;
    border: solid rgb(224, 224, 250);
    border-radius: 5px;
    text-align: justify;
  }

  .main-div-h1 {
    font-size: 30px;
  }

  .main-div-detailed-desciption {
    margin-left: 172px;
    padding-right: 200px;
    font: 24px Arial, Helvetica, sans-serif;
    text-align: justify;
  }

  .main-div-p {
    margin-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-div-span {
    color: #474747;
  }

  .header-nav {
    margin-right: 120px;
  }
  
  .footer-div-orientation {
    margin-right: 30px;
  }
  
  .footer-div-one-part {
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  
  .p {
    margin: 10px 25px 30px;
    font: normal 20px "Anonymous Pro";
    color: #121723;
  }

  .ul {
    display: flex;
    gap: 24px;
    font: bold 20px "Anonymous Pro";
    list-style-type: none;
  }