@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
font-family: "Anonymous Pro";
src: url(fonts/AnonymousPro-Regular.ttf);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0%;
  padding: 0%;
  background-color: #f1f1f1;
}

.sneaker {
  max-width: 371.5px;
  display: inline-block;
  vertical-align: top;
  margin: 15px 15px 15px 0;
  border-radius: 12px;
  background-color: #ffffff;
}

.footer {
  height: max-content;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background: #121723;
}

.footer-a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  display: flex;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid #a1a6b4;
  background: #ffffff;
}

.header-a {
  color: #000000;
  text-decoration: none;
}

.header-div {
  width: 100%;
  position: relative;
  left: 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 250px;
}

.hr { width: 1150px; }

.h2 {
  margin: 10px 0 0 0;
  font: 500 48px "Anonymous Pro";
  color: #121723;
}

.h3 {
  margin: 25px 25px 0 25px;
  font: bold 26px "Anonymous Pro";
  color: #121723;
}

.h4 {
  text-align: center;
  margin-top: 20px;
  color: #a1a6b4;
  font: 16px "Anonymous Pro";
}

main { margin: auto; }

.header-nav {
  margin-right: 120px;
}

.footer-div-orientation {
  margin-right: 30px;
}

.footer-div-one-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p {
  margin: 10px 25px 30px;
  color: #121723;
  font: normal 20px "Anonymous Pro";
}

.main-div-width { max-width: 1180px; }

.ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
  font: bold 20px "Anonymous Pro";
}